<!DOCTYPE html>
<html>
	<%- include('../layouts/head'); %>
<body>
	<div class="wrapper">
		<!-- Main header -->
		<%- include('../layouts/main-header'); %>
		<!-- sidebar -->
		<%- include('../layouts/sidebar'); %>
			<div class="main-panel">
				<!-- Content -->
				<%- include('../components/icon'); %>
				<%- include('../layouts/footer'); %>

			</div>
	</div>
	</div>
	<!-- Modal -->
	<%- include('../components/common/modal'); %>
</body>
<%- include('../layouts/script/main'); %>
<%- include('../layouts/script/icon'); %>
</html>